
   {{burger_name}}
   <div class = "card-footer">
       
 
 <button class="devouredBurger btn btn-info"  data-id="{{this.id}}" data-newDevoured="{{devour}}"><img src="/assets/images/32x32.png">  Devour Burger!
   </div>
