body {
  background-image: url("../images/burger-background-10.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color:white;
}
h1 {
  text-align: center;
  color:rgb(255,255,0);
  font-family: "Permanent Marker", cursive;
  margin-top: 10px;
}
.container {
  margin-left: 250px;
}
.card-footer{
  border-color:red;
}
#burger{
  color:lime;
  font-family: "Roboto", cursive
}
#addABurger {
  background-color: transparent;
  font-family: "Permanent Marker", cursive;
  color:rgb(255,255,0);
 
}
#notDevouredHead{
  text-align: center;
  color:rgb(255,255,0);
  font-family: "Permanent Marker", cursive;
  border-color:rgb(255,255,0);
  
}
#devouredHead{
  text-align: center;
  color:rgb(255,255,0);
  font-family: "Permanent Marker", cursive;
  border-color:rgb(255,255,0);

}
#burgerDevouredCard {
  text-align: center;
  margin-left:-45px;
  margin-top:10px;
  background-color:transparent;
  border-color:red;
  color:lime;
}

#burgersBellyCard {
  margin-top:10px;
  text-align: center;
  margin-left:-85px;
  background-color:transparent;
  border-color:red;
  color:lime
}

#notDevoured {
  margin-top: 50px;
  font-family: "Roboto", cursive;
  background-color:transparent;
  border-color:rgb(255,255,0);
}

#devoured {
  margin-top: 50px;
  font-family: "Roboto", cursive;
  background-color: transparent;
  border-color:rgb(255,255,0);
  
}
#submitCard {
  margin-top: 30px;
  text-align: center;
  font-family: "Roboto", cursive;
  font-size: 25px;
  background-color:transparent;
  border-color:rgb(255,255,0);
}
.navbar {
  color:white;
  font-family:"Roboto", cursive;
  font-weight: bolder;
  font-size: 20px;
}
.navbar-text{
  margin-right:25px;
}
#linkedIn{
  margin-right:25px;
}
img{
  width:32px;
  height:32px;
}
